*{
    outline: none;
    border: none;
    box-sizing: border-box;
    list-style-type: none;  
    font-family: 'Lexend';
    margin: 0;
    padding: 0;
}
  body {
    background-color: black;
  }
.text-subtitle{
  color: white;
}
a{
    text-decoration: none;
}


/*  */

  
  .links-container{
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .list-link a{
    display: flexbox;
    font-size: 18px;
    padding: 0 20px;
    text-decoration: none;
    color: white;
  }
  nav .home-link{
   margin-right: auto;
   backdrop-filter: blur(100px);
   
  }
  nav svg{
    fill: var(--text-color);
  }
  #sidebar-active{
    display: none;
  }
  .open-sidebar-button, .close-sidebar-button{
    display: none;
  }
  @media(max-width: 450px){
    .links-container{
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
     
      top: 0;
      right: -100%;
      z-index: 10;
      width: 300px;
      background-color: var(--color-1);
      box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
      transition: 0.75s ease-out;
    }
    nav .home-link a {
     align-items: center;
     padding-left: 50px;
    }
    nav .list-link{
      box-sizing: border-box;
      display: grid;
      height: auto;
      width: 100%;
      padding: 20px 30px;
      gap: 40px;
      
    }
    .open-sidebar-button, .close-sidebar-button{
      padding: 20px;
      display: block;
    }
    #sidebar-active:checked ~ .links-container{
      right: 0;
    }
    #sidebar-active:checked ~ #overlay{
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
    }
  }

  /*  */
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0));
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0));
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }

/*  */
  .section-banner-header {
    background: url(img/introduced/wei-hsiang-zeng-20190807st6v2.jpg);
    background-position: center center;
    background-size: contain;
    background-attachment: fixed;
    height: auto;
  }
  .section-banner-header .text-in{
    padding: 20%;  
  }
  .section-banner-header .header-section {
    color: white;
    font-size: 64px;
    font-weight: 600;
  }

  /*  */
  .header-partner p {
    font-size: 32px;
    font-weight: 500;
    border-bottom: 3px solid #F7F7F7;
    color: #F7F7F7;
    width: fit-content;
  }

  /*  */
  .off-1 .head {
      color: #F7F7F7;
      font-size: 32px;
      font-weight: 600;
  }
  .off-1 .sub {
    font-family: 'Airbnb Cereal App Light';
    font-size: 16px;
    font-weight: 0;
    color: #F7F7F7;
  }





  /*  */
  @media (max-width:767px){
    .section-banner-header {
      background: url(img/introduced/wei-hsiang-zeng-20190807st6v2.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      height: 300px;

    }
    .section-banner-header .text-in{
      padding: 10%;
      backdrop-filter: blur(10px);
    }
    .section-banner-header .header-section {
      color: white;
      font-size:24px;
      font-weight: 600;
    }
    .logos-slide img {
      height: 30px;
      margin: 0 40px;
    }
  }