*{
    font-family: "Sen", sans-serif;
}

body{
    margin: 0;
}
a {
    text-decoration: none;
}
li{
    list-style-type: none;
}
.bannerTopHead{
        background-color: #e9efff;
        max-height: 40px;
        overflow: hidden;
        padding: 5px;
}
.react {  
    font-size: 1.75rem;
    text-align: center;
}
.react span a {
    color:#edf5ec;
}
.react li a {
    color:#4e9f3d ;
}
.navibar{
    background: #191A19;
    padding: 10px;
    
}
.react-subtitle{
    font-size: 16px;
    font-weight: 500;
}
.img-slide {
    padding-top: 20px;
}
.device-torch{
   
    display: flex;
    position: relative;
    align-items: center;
   
}
.device-torch  a {
    font-weight: 400;
    color: #191A19;
}
.device li {
    padding: 10px;
}
.img-banner-slide{
    display: flex;
    justify-content: center;
    margin: auto;
}
.img-banner-slide .img {
    max-width: 500px;
    
}
.brand-logo{
    background-color:#D8E9A8;
    padding-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.needs-link{
    background:#4E9F3D;
    border-radius: 16px;

}
.needs-link a {
    color: #191A19;
    font-weight: 600;
    font-size: 14px;
    padding: 0 10px 0 10px;
}

.needs{
    padding-top: 10px;
    background: #D8E9A8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.btn {
    background-color: #e00049;
    color: #ffffff;
    font-weight: 700;
    max-width: 140px ;
    max-height: 100px;
    font-size: 14px;
    
}
.card{
    padding: 20px;
}
.card-2{
    padding: 15px;
}
.card-body .card-title{
    font-size: 14px;
    font-weight: 700;
    
}
.card-body .card-subtitle{
    color: #e00049;
    font-size: 15px;
}
.more-btn{
    background: none;
    color: #e00049;
}
.btn-2{
    background-color: #e00049;
    color: #ffffff;
    font-weight: 700;
    max-width: 138px ;
    max-height: 100px;
    font-size: 14px;
}
.padding-top-bottom-175rem{
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}
.btn-card{
    background-color: #e00049;
    color: #ffffff;
    font-weight: 700;
    max-width: 200px ;
    max-height: 100px;
    font-size: 14px;
}
.search-input{
    height: 40px;
    width: 40rem;
    border: none;
    border-radius: 8px;
}

.btn-search{
    background: none;
    font-weight: 700;
    font-size: 16px;
    color: #4E9F3D;
    padding: 8px;
    border: none;

}
.gap-175rem{
    gap: 1.75rem;
}
.graphic-card-product{
    background-color: #D8E9A8;
}
.pay-gate {
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.list-link a{
    color: #191A19;
}


.email-register{
    height: 35px;
}
.sumbit-register{
    height: 35px;
    border: 1px solid salmon;
    border-radius: 8px;
}
.info-product{
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
}
 .header-topic {
   font-weight: 700;
   font-size: 32px;
   
}
.product-most{
    background: #e8f2cb;
    padding: 10px;
    border-radius: 16px;
}
.product-most .product-most-title {
    font-size: 32px;
    font-weight: 700;
}