
 /* --------------------------------Cart---------------------------- */
 .cart {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
   
 }
 .cart h2 {
    margin-bottom: 20px;
 }
 .cart table {
    width: 100%;

 }
 .cart table thead tr th:first-child {
   text-align: left;
 }
 .cart table tr td {
    border-bottom: 1px solid #ddd;
    padding: 12px 0 ;
 }
 .cart table thead tr th:last-child {
    text-align: right;
  }
  .cart table tbody tr td:last-child {
   text-align: right;
  }

.cart {
   position: fixed;
   height: 90%;
   width: 500px;
   right: 0;
   top: 100px;
   background-color: #D8E9A8;
   padding: 12px 20px;
   overflow-y: scroll;
   right: -100%;
   border-radius: 20px;
   margin-right: 5px;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
.cart  .button {
   position: relative;
   padding: 10px 22px;
   border-radius: 6px;
   border: none;
   color: #fff;
   cursor: pointer;
   background-color: #e00049;
   transition: all 0.2s ease;
 }
 
.cart .button:active {
   transform: scale(0.96);
 }
 
 .button:before,
 .button:after {
   position: absolute;
   content: "";
   width: 150%;
   left: 50%;
   height: 100%;
   transform: translateX(-50%);
   z-index: -1000;
   background-repeat: no-repeat;
 }
 
 .button:hover:before {
   top: -70%;
   background-image: radial-gradient(circle, #e00049 20%, transparent 20%),
     radial-gradient(circle, transparent 20%, #e00049 20%, transparent 30%),
     radial-gradient(circle, #e00049 20%, transparent 20%),
     radial-gradient(circle, #e00049 20%, transparent 20%),
     radial-gradient(circle, transparent 10%, #e00049 15%, transparent 20%),
     radial-gradient(circle, #e00049 20%, transparent 20%),
     radial-gradient(circle, #e00049 20%, transparent 20%),
     radial-gradient(circle, #e00049 20%, transparent 20%),
     radial-gradient(circle, #e00049 20%, transparent 20%);
   background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
     10% 10%, 18% 18%;
   background-position: 50% 120%;
   animation: greentopBubbles 0.6s ease;
 }
 
 @keyframes greentopBubbles {
   0% {
     background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
       40% 90%, 55% 90%, 70% 90%;
   }
 
   50% {
     background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
       50% 50%, 65% 20%, 90% 30%;
   }
 
   100% {
     background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
       50% 40%, 65% 10%, 90% 20%;
     background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
   }
 }
 
 .button:hover::after {
   bottom: -70%;
   background-image: radial-gradient(circle, #e00049 20%, transparent 20%),
     radial-gradient(circle, #e00049 20%, transparent 20%),
     radial-gradient(circle, transparent 10%, #e00049 15%, transparent 20%),
     radial-gradient(circle, #e00049 20%, transparent 20%),
     radial-gradient(circle, #e00049 20%, transparent 20%),
     radial-gradient(circle, #e00049 20%, transparent 20%),
     radial-gradient(circle, #e00049 20%, transparent 20%);
   background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
   background-position: 50% 0%;
   animation: greenbottomBubbles 0.6s ease;
 }
 
 @keyframes greenbottomBubbles {
   0% {
     background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
       70% -10%, 70% 0%;
   }
 
   50% {
     background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
       105% 0%;
   }
 
   100% {
     background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
       110% 10%;
     background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
   }
 }
  .cart i {
   cursor: pointer;
   margin-bottom: 20px;
  }