*{
    font-family: 'Lexend';
   
}

body{
   
    background-color: #ececec;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
li{
    list-style-type: none;
}
.footer-header{
   font-size: 18px;
}
.more {
  justify-content: flex-end;
  margin-left: auto;
}
.more {
  color: #333;
  background-color: #ececec;
  width: 8.5em;
  height: 2.9em;
  border: none;
  text-align: right;
  transition: all 0.6s ease;
}

.more:hover {
  cursor: pointer;
}

.more svg {
  width: 2em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.2s ease;
}

.more:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em
}
/*  */
:root{
    --color-1: #fffff;
    --text-color: #ffffff;
  }
  /*  */
  .head-product-sale {
    border-bottom: 0.2px solid #333;
  }

  /*  */
nav{
    height: 100%;
    background-color: var(--color-1);
    display: flex;
    align-items: center;
  }
  .links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
  }
  nav a:hover{
    background-color: var(--accent-color);
  }

  nav svg{
    fill: var(--text-color);
  }
  #sidebar-active{
    display: none;
  }
  .open-sidebar-button, .close-sidebar-button{
    display: none;
    font-size: 2rem;
    color: #4E9F3D;
    font-weight: 500;
  }
  .logo-end {
    display: none;
  }
 @media (min-width: 1080px)  {
  .device-shop a {
   width: -99999px;
  }
 }
  
  @media(max-width: 1080px){
    .logo-end {
        display: contents;
        content: "";
      }
    .links-container{
      display: block;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      justify-content: none;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 10;
      width: 300px;
      
      background-color: #ffffff;
      box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
      transition: 0.75s ease-out;
    }
   
    nav a{
      box-sizing: border-box;
      height: auto;
      width: 100%;
      padding: 20px 30px;
      justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button{
      padding: 20px;
      display: block;
    }
    .device-shop li a{
      color: #191A19;
    }
    #sidebar-active:checked ~ .links-container{
      right: 0;
    }
    #sidebar-active:checked ~ #overlay{
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9;
    }
    .device-tag {
      display: none;
    }
  }
  /* new */

  .limix {
    color: #ffffff;
  }
  .infor-adv p {
    font-size: 16px;
  }
  .infor-adv button {
    padding: 0 10px 0 10px;
    border-radius: 8px;
    background-color: #FD9B63;
    font-weight: 600;
    font-size: 16px;
    border: none;
    color: #365E32;
  }
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  #advertisement-image,
  #product-type {
    transition: opacity 1s ease-in-out;
  }
  
  .fade {
    opacity: 0;
  }

  

  
 
  
/*  */
@keyframes marquee {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}
.maxim{
  background-color: #365E32;
}
.limix{
  background-color: #81A263;
}
.slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15em;
  margin-top: 3rem;
  overflow: hidden;  /* Prevents scrollbars during animation */
  background-color: #365E32;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 20s linear infinite;  /* Reduced duration for faster speed */

}

.marquee-content {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  gap: 3em;

}
.content p {
  font-size: 4em;
  margin: 0.5em 0 0;
  line-height: 1.5;
  font-weight: 600;
  color: #E7D37F;
}


/*  */
.container-header {
    max-width: 100%;
}

.bannerTopHead{
        background-color: #e9efff;
        max-height: 40px;
        overflow: hidden;
        padding: 5px;
}

.group {
    display: flex;
    line-height: 18px;
    align-items: center;
    margin: 20px;
    position: relative;
    max-width: 100px;

   }


.input {
    height: 30px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
.input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: #4E9F3D;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}
.background-white{
    background-color: #ffffff;
}
.user div a i {
    font-size: 24px;
    font-weight: 500;
    color: #4E9F3D;
}
  
  .toolltip {
    position: relative;
    cursor: pointer;
    font-family: "Arial", sans-serif;
  }
  
  .toolltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
  .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltiptext::after {
    content: "";
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
  }
  .toolltip .iconn { 
    color: #fff;
  }
  
  
.img-slide {
    padding-top: 20px;
}
.device-torch{
    display: flex;
    position: relative;
    align-items: center;
   
}
.device-torch  a {
    font-weight: 500;
    color: #191A19;
}
.device li {
    padding: 10px;
}
.device-tag {
    background-color: white;
}

@media (min-width:390px) {
    .container-header {
      display: none;
    }
    
}
.brand{
    padding: 10px;
    background-color: white;
    border-radius: 18px;
}
.brand .header-brand h3{
    font-weight: 500;

}
.needs-link{
    background:#4E9F3D;
    border-radius: 16px;
}
.needs-link a {
    color: #191A19;
    font-weight: 600;
    font-size: 16px;
    padding: 8px;
}

.needs{
    margin-top: 20px;
    border-radius: 16px;
    padding: 0;
}
.btn {
    background-color: #e00049;
    color: #ffffff;
    font-weight: 700;
    max-width: 140px ;
    max-height: 100px;
    font-size: 14px;
    
}
.card{
    padding: 20px;
}
.card-body .card-title{
    font-size: 14px;
    font-weight: 700;
}
.card-body .card-subtitle{
    color: #e00049;
    font-size: 15px;
}
/*  */
.more-btn{
    background: none;
    color: #e00049;
}
.btn-2{
    background-color: #e00049;
    color: #ffffff;
    font-weight: 700;
    max-width: 138px ;
    max-height: 100px;
    font-size: 14px;
}
.padding-top-bottom-175rem{
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}
.btn-card{
    background-color: #e00049;
    color: #ffffff;
    font-weight: 700;
    max-width: 200px ;
    max-height: 100px;
    font-size: 14px;
}

.graphic-card-product{
    background-color: #D8E9A8;
}

.list-link a{
    color: #191A19;
}


.email-register{
    height: 35px;
}
.sumbit-register{
    height: 35px;
    border: 1px solid salmon;
    border-radius: 8px;
}
.info-product{
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
}
 .header-topic {
   font-weight: 700;
   font-size: 32px;
   
}

.product-most{
    background: #e8f2cb;
    padding: 10px;
    border-radius: 16px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.product-most .product-most-title {
    font-size: 32px;
    font-weight: 700;
}

.card {  
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
.location-list .mt-2 a {
    color: #e00049;
}
.location-list .mt-2 a span {
    font-weight: 500;
    font-size: 16px;
}

    @media(max-width: 1080px) {
        .device-tag .device-torch {
            font-size: 14px;
        }
        
        h5 .card-title {
            font-size: 13px;
        }
 }
/*  */

/*  */

footer {
  color: #191A19;
  padding: 20px;
}

.footer-section {
  margin-bottom: 10px;
}

.footer-header {
  margin: 0;
  cursor: pointer;
  position: relative;
  padding-right: 20px; /* Add padding for the icon space */
}
.footer-header i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none; /* Hide icon by default */
}

.footer-list {
  list-style-type: none;
  padding: 0;
}

.footer-list li {
  margin: 5px 0;
}

/* Collapsible styles only apply for small screens */
@media (max-width: 768px) {
  .footer-list {
      display: none;
  }

  .footer-section.active .footer-list {
      display: block;
  }
}

.dropdown{
  
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
 