* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Mono";
}
.container {
    max-width: 399px;
    margin: 0 auto;
    padding: 20px;
    border: none;
    background-color: #191A19;
    margin-top: 200px;
    border-radius: 20px;
   
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 35px;
    font-family: "Roboto Mono" ;
    color: #4E9F3D;
}
form {
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 20px;  
}
label {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    color: #ccc;
}
input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4E9F3D ;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 10px;
}
input:focus {
    outline: none;
    font-family: "Roboto Mono Thin";
    font-size: 12px;
    color:#FFFFFF;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color:#191A19;
    background-color: #D8E9A8;
    font-family: "Roboto Mono";
    border: none;
    cursor: pointer;
    margin-left: 120px;
    border-radius: 10px;
}

a:hover {
    text-decoration: underline;
}
.sub{
    text-align: center;
    font-size: 12px;
    margin-top: 12px;
}
::placeholder{
    font-family: "Roboto Mono";
    font-size: 12px;
    color: #FFFFFF;
}
.sublow{
    text-align: center;
    font-size: 12px;
    margin-top: 14px;
}
a{
 color: #4E9F3D;   
}  