
 /* --------------------------------Cart---------------------------- */
 .cart {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
   
 }
 .cart h2 {
    margin-bottom: 20px;
 }
 .cart table {
    width: 100%;

 }
 .cart table thead tr th:first-child {
   text-align: left;
 }
 .cart table tr td {
    border-bottom: 1px solid #ddd;
    padding: 12px 0 ;
 }
 .cart table thead tr th:last-child {
    text-align: right;
  }
  .cart table tbody tr td:last-child {
   text-align: right;
  }

.cart {
   position: fixed;
   height: 100%;
   width: 500px;
   right: 0;
   top: 100px;
   background-color: #ffff;
   padding: 12px 20px;
   overflow-y: scroll;
   right: -100%;
   border-radius: 20px;
  margin-right: 5px;
  }
.cart button {
   margin-top: 20px;
   height: 30px ;
   padding: 12px;
   cursor: pointer;
   border: none;
   border-radius: 5px;
  background-color: #ffff;
  }
  .cart i {
   cursor: pointer;
   margin-bottom: 20px;
  }